body{
    background-image:url(../imagenes/90692641-patrón-de-fondo-transparente-con-números-romanos-sobre-un-fondo-blanco-ilustración.jpg);
   
   
    margin: auto;
    padding: 10px;
   align-items: center;
   height: 100%;

}
.container{
    background-color: rgb(187, 171, 25);
    margin: 3% auto;
    padding:5px;
    width: 60vw;
    height: 70vh;  
    display: flex;
border-style: solid;
border-width: 10px;
text-align: center;
}

h1{
    font-size: 45px;
    color: rgb(179, 177, 202);
    text-shadow: 2px 2px rgb(2, 2, 2);
    border-style: solid;
    border-color:rgb(187, 171, 25) ;
    border-left: none;
    border-right: none;
    text-align: center;
   display: inline-block;
   width: 100%;
   background-color:rgba(187, 171, 25, 0.849) ;

   
}
.container p{
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px rgb(255, 245, 245);
    padding: 10px;
    color: rgb(20, 23, 37);
    font-weight: bold;
}
.container label{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 28px;
    text-shadow: 1.3px 1.3px rgb(2, 2, 2);
}
.container input{
    width: 200px;
    height: 25px;
    font-size: 22px;
    text-align: center;
}
.container button,
            .input{
font-weight: bold;
padding: 7px;
border-radius: 20%;
margin: 10px;
width: 150px;
font-size: 22px;
 }
 .container #cont3{
    color: rgb(116, 0, 0);
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 1px rgb(2, 2, 2);
padding: 2 px;
}